{% extends "./loadtest/base.html" %}

{% block main %}
<div class="row">
    <div class="col-md-9 ">
      <div id="toc" class="bc-sidebar">
      </div>
    </div>

    <div class="col-md-9">
      <article class="post page">
      	<section class="post-content">
              <h2 id="-bootstrap-">关于我们</h2>
				<p>VEX Test UI - VEX性能测试结果展示平台</p>
				<h2 id="-">联系人:</h2>
				<blockquote>
				<p> YY
				<br> Mail： yanyang.xie@thistech.com
				<br>Phone： 18611646121</p>
				</blockquote>
		</section>
      </article>
    </div>
</div>
{% endblock%}