{% extends "./loadtest/base.html" %}

{% block header %}
<script>
    var chart;
	var index_result_data = {{ index_results |safe }};
	var bitrate_result_data = {{ bitrate_results |safe }};
    
    AmCharts.ready(function () {
    	drawAmCharts(index_result_data, "chartdiv");
        drawAmCharts(bitrate_result_data, "chartdiv2");
    });
    
    function drawAmCharts(columDatas, chartID) {
        // SERIAL CHART
        chart = new AmCharts.AmSerialChart();
        chart.dataProvider = columDatas;
        chart.categoryField = "ResponseTime";
        chart.startDuration = 1;

        // AXES
        // category
        var categoryAxis = chart.categoryAxis;
        categoryAxis.labelRotation = 60; // this line makes category values to be rotated
        categoryAxis.gridAlpha = 0;
        categoryAxis.fillAlpha = 1;
        categoryAxis.fillColor = "#FAFAFA";
        categoryAxis.gridPosition = "start";
        categoryAxis.title = "client response time distribution"

        // value
        var valueAxis = new AmCharts.ValueAxis();
        valueAxis.dashLength = 5;
        valueAxis.title = "client number of response time";
        valueAxis.axisAlpha = 0;
        chart.addValueAxis(valueAxis);

        // GRAPH
        var graph = new AmCharts.AmGraph();
        graph.valueField = "Client";
        graph.colorField = "color";
        graph.balloonText = "<b>[[category]]: [[value]]</b>";
        graph.type = "column";
        graph.lineAlpha = 0;
        graph.fillAlphas = 1;
        chart.addGraph(graph);

        // CURSOR
        var chartCursor = new AmCharts.ChartCursor();
        chartCursor.cursorAlpha = 0;
        chartCursor.zoomable = false;
        chartCursor.categoryBalloonEnabled = false;
        chart.addChartCursor(chartCursor);

        chart.creditsPosition = "top-right";

        // WRITE
        chart.write(chartID);
    }
    
    
    function getRecentlyLoadTestResult(test_type_id)
	{
		$.ajax({     
		    type: "GET",     
		    url: "/getAll/"+test_type_id,     
		    dataType:"json",     
		    success: function(data){
			    var test_date_element = $("#load_test_date_list");
			    test_date_element.empty();
			    
			    for(i=0;i<data.length;i++){ 
			    	test_date_element.append("<option value='"+data[i].test_id+"'>"+data[i].test_date+"</option>");
			    }
		    }
		})
	}
</script>
{% endblock%}

{% block main %}
<p>.</p><p>.</p>
	<div class= "row">
        <div class= "form-group col-xs-12">
             <label for= "sceneModel_title" class="col-sm-1 control-label" >测试类型: </label>
             <div class= "col-sm-3">
             	<select class= "form-control selectpicker" name="load_test_type" id="load_test_type_list" onChange="getRecentlyLoadTestResult(this.value)"> 
					{% if test_type_list %}
						{% for test_type in test_type_list %}     
							<option value="{{ test_type.id }}">{{test_type.name}}</option>     
						{% endfor %}     
					{% endif %}
				</select>
             </div>
             <label for= "scene_title" class="col-sm-1 control-label" >测试日期: </label>
             <div class= "col-sm-3">
                  <select class="form-control selectpicker" name="load_test_date" id="load_test_date_list" onChange="alert('changed')"> 
					{% if load_test_results %}
						{% for test_result in load_test_results %}
							<option value="{{ test_result.id }}">{{test_result.test_date}}</option>
						{% endfor %}
					{% endif %}
				</select>
             </div>

        </div>
    </div>
    <div class="row">
		<div class="col-md-6">
			<div class="text-info">Index Response Time Distribution</div>
	    	<div id="chartdiv" style="width: 500px; height: 400px;"></div>
	    </div>
	    <div class="col-md-1">
	    
	    </div>
	    <div class="col-md-6">
	    	<div class="text-info">Bitrate Response Time Distribution</div>
	    	<div id="chartdiv2" style="width: 500px; height: 400px;"></div>
	    </div>
    </div>
    
    {% if test_errors %}
    <div class="row">
    	<div class="text-info">Test ERROR:</div>
    	<div class="col-md-12">
    	<textarea id="note-text" resize: none; rows="5" placeholder="No ERROR" class="form-control">{{ test_errors | safe }}
 		</textarea>
    	</div>
    </div>
    {% endif %}
{% endblock%}
