{% extends "./loadtest/base.html" %}

{% block header %}
<script>
	var index_result_data = {{ index_results |safe }};
	var bitrate_result_data = {{ bitrate_results |safe }};
    
    AmCharts.ready(function () {
    	drawAmCharts(index_result_data, "chartdiv");
        drawAmCharts(bitrate_result_data, "chartdiv2");
    });
</script>
{% endblock%}

{% block main %}
	<p>&nbsp</p><p>&nbsp</p>
	<div class="row">
	{% if benchmark_time_index %}
	<div class="text-info">Test Type: {{ test_type }} | Test Date: {{test_date |date:'Y-m-d'}} </div>
	<div class="text-info">Test Time: {{ benchmark_time_index }}  |  Current Sesssion:{{ concurrent_session_index }}/sec </div>
	{% endif %}
	
	<div class="col-md-5">
		{% if index_results%}
		<div class="text-info">Index Test Result:</div>
		{% endif %}
	
		{% if benchmark_time_index %}
		<div class=""> Average Response:{{ average_response_index }}ms  |  Failure Rate: {{error_rate_index}}%</div>
		{% endif %}
    	<div id="chartdiv" style="width: 500px; height: 400px;"></div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
    	{% if bitrate_results%}
    	<div class="text-info">Bitrate Test Result:</div>
    	{% endif %}
    
    	{% if benchmark_time_index %}
		<div class=""> Average Response:{{ average_response_bitrate }}ms | Failure Rate: {{error_rate_bitrate}}%</div>
		{% endif %}
    	<div id="chartdiv2" style="width: 500px; height: 400px;"></div>
    </div>
    </div>
    {% if test_errors %}
    <div class="row">
    	<div class="text-info">Test ERROR:</div>
    	<div class="col-md-12">
    	<textarea id="note-text" resize: none; rows="5" placeholder="No ERROR" class="form-control">{{ test_errors | safe }}
 		</textarea>
    	</div>
    </div>
    {% endif %}
{% endblock%}
