<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-sm" href="{% url 'showLatestTestResult' %}" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-测试UI'])">VEX测试UI</a>
    </div>
    <div class="navbar-collapse collapse" role="navigation">
      <ul class="nav navbar-nav">
      	<li><a href="{% url 'showAllLoadTestResults' 'T6VOD' %}" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v3doc'])">VOD压力测试结果</a></li>
      	<li><a href="{% url 'showAllLoadTestResults' 'T6cDVR' %}" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v3doc'])">cDVR压力测试结果</a></li>
      	<li><a href="{% url 'showAllLoadTestResults' 'T6Linear' %}" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v3doc'])">Linear压力测试结果</a></li>
      	<!--
        <li><a href="http://v3.bootcss.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v3doc'])">Bootstrap3中文文档</a></li>
        <li><a href="http://www.jquery123.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'jquery'])">jQuery API</a></li>
      	-->
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-sm">
        <li><a href="/about" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'about'])">关于</a></li>
      </ul>
    </div>
  </div>
</div>
